@{  //INITIALIZE web page title to Shopping Cart
    ViewBag.Title = "Shopping Cart";
    string day = DateTime.Now.DayOfWeek.ToString();
}
@section css {
    <link href="~/Content/Home.css" rel="stylesheet" />
}

<h1>Welcome to the Hallowen Store</h1>
<div><p>Thank you for Visiting this beautiful @day!</p></div>

@section footer {
<p>Where every day is Halloween!</p>
}